.capylist_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.capylist_header h1 {
    margin: 0;
}

.capylist_header a {
    text-decoration: none;
    background-color: #7c4e29;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
    border: 2px solid #7c4e29;
}

.capylist_header a:hover {
    background-color: transparent;
    color: #7c4e29;
}

.capylist_container {
    display: flex;
    flex-direction: column;
}

.capylist_row {
    border-bottom: 1px solid #7c4e29;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    width: 100%;
}

.capylist_row img {
    margin-right: 1em;
}

.capylist_row span {
    min-width: 100px;
}

.actions {
    margin-left: auto;
}

.actions a,
.actions button {
    text-decoration: none;
    background-color: #fff;
    color: #7c4e29;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid #7c4e29;
    font-size: 12px;
    margin-left: 1em;
}

.actions a:hover,
.actions button:hover {
    background-color: #7c4e29;
    color: #fff;
}

.actions .conclude_btn {
    color: #25b456;
    border-color: #25b456;
}

.actions .conclude-btn:hover {
    color: #fff;
    background-color: #25b456;
}

/* My adoptions */
.contacts {
    margin-left: 2em;
}

.contacts p {
    margin-bottom: .5em;
}